
*{
	margin: 0px;
	padding: 0px;
}
#uls{
	width: 800px;
	height: 600px;
	background: seagreen;
	margin: 50px auto;
	position: relative;
	
}
#uls ul li{
	/*取消列表中的样式*/
	list-style: none;
	position: absolute;
	top: 0px;
	left: 0px;
}
img{
	width: 800px;
	height: 600px;
}
